[2013-05-20 14:15] nhinze opened #2 "Point rotation?"
Hi,

I've been researching on how I could rotate lat/long points around a known point. For example, I would like to calculate what the coordinates would be if I rotate point (lat: 37 degrees, lon: -80 degrees) around lat/long (36 degrees/-79 degrees) by 20 degrees.

I was wondering if this is something that could be added this library?

Thanks,

Nick,

[2013-05-30 02:10] ghost opened #4 "function "closest" misses one last side if layer is a polygon"
I guess there must be added additional check after forloop

[2013-05-30 08:00] #4 closed, assigned to nobody

[2013-06-03 11:10] leplatrem opened #5 "Merge lines together"
- Merge common vertices
- Option to reorder if not connex

[2013-08-05 10:19] leplatrem opened #6 "Use daux.io for documentation"
https://github.com/justinwalsh/daux.io

[2013-10-21 11:31] tuukka opened #8 "Documentation not up to date"
Online documentation is not up to date as the `locateOnLine` function is missing: http://makinacorpus.github.io/Leaflet.GeometryUtil/

[2013-10-25 05:59] #8 closed, assigned to nobody

[2013-10-25 06:01] #2 closed, assigned to nobody

[2013-11-27 01:34] dustymugs opened #9 "License"
Can you specify what license Leaflet.GeometryUtil is governed by?

[2013-11-27 15:58] #9 closed, assigned to nobody

[2013-12-12 09:08] prophe05 opened #10 "Closest layer between Circle and Line"
When line  traverse circle in center, what is the closest layer in case of
1. mouse is over border of circle
2. line is the first layer in the layers array?
Now line is the closest layer to mouse position. But correct - circle is the closest layer. Need to find closest distance to mouse position using latlng of circle center and it's radius!

maybe edit method closestLayer: function (map, layers,

[2014-03-13 11:56] howieweiner opened #13 "exports is undefined in IE8"
The first line of the file, that defines the namespace causes an error in IE8
var L = L || exports;

exports is undefined. Seems to work without this declaration. I'm not sure what exports is/does.

[2014-05-15 13:45] denny123 opened #14 "How use closestLayerSnap?"
I use:
L.GeometryUtil.closestLayerSnap(map, [L.polyline(...)], map.getCenter(),9000)
and result [Object object]. What the [Object object]???
And if i use Geojson(not L.polyline), can i?

[2014-05-16 13:38] #14 closed, assigned to nobody

[2014-06-10 07:04] #13 closed, assigned to leplatrem

[2014-06-24 20:09] ghost opened #17 "closestLayer"
I'm pretty new to Leaflet.  We have some geoMapping code that's been running for quite some time.  We use Google Maps API and all of our geoData is stored in SQL Server tables.  We jump through quite a few hoops to render polygons and calculate area and distance and such.

So, things like MapBox, Leaflet, and GeometryUtil are starting to look quite appealing as we ramp up to re-build our software

[2014-06-25 07:08] #17 closed, assigned to nobody

[2014-07-18 20:33] connorbode opened #18 "Bower install"
please make this package available for installation via bower :)

[2014-09-29 03:31] iceout opened #20 "A bug of function "closest""
When layer is a polygon, this funtion modifies the layer's LatLngs:

[code]

This shouldn't happen.
Maybe the solution is:

[code]

[2014-10-29 13:24] evanvosberg opened #21 "closestLayerSnap returns latlng which can't be found on the provided layer"
`closestLayerSnap` returns `latlng` which can't be found on the provided layer, would expect null or object with `latlng` from the layer.

[code]

[2014-11-06 09:35] #20 closed, assigned to nobody

[2014-11-13 13:20] #21 closed, assigned to nobody

[2014-11-14 10:24] leplatrem opened #22 "Improve documentation of closestLayerSnap()"
See https://github.com/makinacorpus/Leaflet.GeometryUtil/issues/21#issuecomment-62884968

[2014-11-20 02:34] rossanag opened #23 "Using closest function with GeoJSON layer"
Hi, I thought it could be used because L.geoJson implements ILayer, however I can't get it working.
The GeoJson file is a set of points (markers) which is being properly rendered.

The error: *Uncaught TypeError: Cannot read property 'lat' of null* . It happens at 'closest' function within the code.
It refers to "distanceSegment: function (map, latlng, latlngA, latlngB) "
Thanks!

    function nea

[2015-01-08 17:04] domialex opened #24 "Array<Array<L.LatLng>>"
It is possible that some features have an Array of Arrays of LatLngs instead of a single imbrication.
The plugin does not support this right now.

[2015-01-08 17:41] fredericbonifas commented on #24
Hi,
Could you please precise a little bit more what your are thinking about and ideally provide a jsfiddle so this problem can be investigated ?

Thanks !

[2015-01-08 17:51] domialex commented on #24
Here's an example:
[code]
This code will fail if the feature returns getLatLngs() with Array<Array<L.LatLng>> instead of Array<L.LatLng>.
Not all features have this, but there are cases where this double imbrication can occur.

[2015-02-24 17:17] fnicollet opened #25 "The "withVertices" parameter of closestLayerSnap is not acting correctly and returns points on segments as well"
Hello,

I am using the closestLayerSnap function with the withVertices parameter set to true, like:
[code]
I would expect the snapping to only happen on vectrices that exist on the layer but instead, I also get result on segments.
I believe this is also what happened to the issue #21 and the fix (infinite tolerance or documentation fix #22 ) is not really a fix. The parameter "withVertices" should

[2015-02-25 09:28] gutard commented on #25
Duplicate of #21.

The behaviour of `closestLayerSnap` function is to get the closest point, not necessarily an existing vertex. The `with_vertex` parameter means it tries to snap to an existing vertex if possible, but fallback to a new point on a segment if it can't find an existing vertex close enough to the point. This behaviour is what we need in [Geotrek](https://github.com/makinacorpus/Geotr

[2015-02-25 09:50] fnicollet commented on #25
Thanks for your answer,
Even "try_to_snap_to_existing_vertices" would be misleading, because a point on a segment is not an existing vertex, it doesn't exist in the list of latlng of the object.
I think something like "snapOnSegments" would be appropriate

[2015-09-03 07:35] MPieter opened #30 "Publish latest version on npm"
Could you make this package available on npm ?
Useful for use with browserify for example.

[2015-09-03 08:24] leplatrem commented on #30
I believe that is the case. Probably not up to date...
@fredericbonifas can you confirm?

https://www.npmjs.com/package/leaflet-geometryutil

[2015-09-03 08:54] MPieter commented on #30
Indeed, I found that one but that's not the latest.

Latest: 0.4.0
NPM: 0.3.2

[2015-09-03 08:55] MPieter commented on #30
Maybe you should on https://www.npmjs.com/package/leaflet-geometryutil also link to the GitHub page, to avoid confusion.

[2015-09-06 19:45] leplatrem commented on #30
I updated NPM and the readme :)

Thanks for the feedback !

[2015-09-06 19:45] #30 closed

[2015-09-15 18:13] kaynz commented on #24
Any updates on this?

[2015-09-15 18:42] leplatrem commented on #24
I don't see any pull request, no ;)

With domialex feedback there should be a way to write a small tests and propose something!

Don't hesitate!

[2016-01-14 14:49] jb2b38 opened #31 "Improve extract method to allow extracting from a start LatLng to a distance."
It would be nice to be able to extract a polyline portion when knowing a starting location and a distance.
LocateOnLine allows us to find a starting point to use with the current extract method, but I wasn't able to find how I could extract only 50 meters from starting point.

[2016-03-22 08:39] sookoll opened #32 "Extract returns wrong line in case of narrow angles in line"
I had situation where I need to find line segment from start to certain point along line (with snapping along line). It works fine with wide angles but with smaller than 90 degrees it will "jump" to previous line segment. I got fraction from locateOnLine.

Turf for example, handles it correctly. Also input as starting and ending point is better approach than blurry fraction.

[2016-04-14 06:03] leplatrem commented on #18
Bower accepts package.json. Closing.

[2016-04-14 06:03] #18 closed

[2016-06-30 07:57] LePat commented on #24
In GeoJSON, polygon are Array<Array<L.LatLng>>

The function closest work on Array<L.LatLng> and should be changed to manage Polygons:
`
		var latlngs;
		if (layer instanceof L.Polygon) {
			latlngs = layer.getLatLngs()[0].slice(0);
		} else {
			latlngs = layer.getLatLngs().slice(0);
		}
`

like it is done further (the push of the first vertex)

It will not manage "holes" in the polygon because i

[2016-08-24 14:55] mdartic commented on #6
Hello Mathieu,

I'm going to spend some time on this plugin, and on LayerIndex.

For this issue, do you still think it's a good idea to use daux.io ?

It's in PHP, so I was asking me if it was a good thing to use a different language in this plugin ?

I would prefer keep using jsdoc, but with a different theme, like this one :

http://docstrap.github.io/docstrap/themes/cosmo/

I test on GeometryUt

[2016-08-25 09:16] mdartic opened #38 "Change directory structure to Leaflet Guide"
According to leaflet recommendations for file structure, from the [plugin guide](https://github.com/Leaflet/Leaflet/blob/master/PLUGIN-GUIDE.md),

[code]

We are not going to put examples at the root, but in a 'docs' directory, that will be displayed in github pages.

- [x] move source file into src directory

- [ ] minify the plugin into dist directory

- [x] move test files into spec directory

[2016-08-25 09:19] mdartic opened #39 "Write use cases for a demo"
To make this plugin easier to test, it could be a good idea to write some examples in a demo.

If you have use cases, don't hesitate to suggest yours.

[2016-08-25 09:21] mdartic commented on #32
Hello @sookoll

Do you have a jsfiddle to test this issue ?

[2016-08-25 09:23] mdartic commented on #31
Hello @jb2b38

Good idea,

Have you find a way to extract it ?

Don't hesitate to suggest a PR which implement your use case.

[2016-08-25 14:40] mdartic commented on #38
The minify version of the plugin will not be integrated, better to let the user do it if he wants.

[2016-08-25 14:45] mdartic opened #41 "Put the scripts in makefile into the package.json"
For maintenability purpose, it would be nice to have scripts inside the package.json

- [x] migrate docs generation

- [x] migrate test script

[2016-08-25 14:54] #38 closed

[2016-08-25 15:00] mdartic opened #42 "Migrate gh-pages to docs/ directory in master branch"
Thanks to the new feature on gh-pages, and for maintenability purpose, we are going to put the docs directly in mastrer branch, and delete submodule.

[2016-08-25 15:05] mdartic commented on #41
done with PR #43

[2016-08-25 15:05] #41 closed

[2016-08-26 09:22] #42 closed

[2016-08-28 08:00] leplatrem commented on #6
Hello!
I'm very happy to see some activity here! Big up for taking over!!
Both look great, minami is super slick and clean!! ink-docstrap has a nice responsive layout (not sure there's a use case)...
Do what you think it's best! It's all yours ;)

[2016-09-01 09:52] gholol opened #45 "Does this support Leaflet 1.0?"
Title says it all... I couldn't find any info on this regard.

[2016-09-01 11:01] SBats commented on #45
Hi @gholol, thanks for asking. We haven't tested it yet.
We are currently working on cleaning and refactoring all our plugins, then we will test and fix them for leaflet v1.

If you have time to try it yourself, please, do not hesitate to give us feedbacks and/or make a pull-request with the proper fixes.

[2016-09-01 20:49] aver-ua opened #46 "Function "closest" is not working for polygons in leaflet 1.0"
This problem is due to nested arrays of latlngs.
Works only for polyline.
Function is not working for multipolyline, polygon, multipolygon.

[2016-09-05 09:56] mdartic commented on #6
Thanks @leplatrem
So, I'm gonna use minami theme.
Hope devs will like it.

[2016-09-05 09:59] #6 closed

[2016-09-05 15:46] mdartic commented on #25
The documentation has been updated to be more easy to understand.

See the documentation method
http://makinacorpus.github.io/Leaflet.GeometryUtil/global.html#closestLayerSnap

Hope this will help others to not lose some time to understand...

[2016-09-05 15:46] #25 closed

[2016-09-05 15:47] mdartic commented on #22
The documentation has been updated to be more easy to understand.

See the documentation method
http://makinacorpus.github.io/Leaflet.GeometryUtil/global.html#closestLayerSnap

Hope this will help others to not lose some time to understand...

[2016-09-05 15:47] #22 closed

[2016-09-05 16:10] mdartic commented on #46
Not sure it is related to leaflet 1.0, but just because closest works with `Array<L.LatLng>` or `L.PolyLine` ?
See documentation file:///home/mdartic/workspace/makina/Leaflet.GeometryUtil/docs/global.html#closest .
Seems related to #24
Have you seen it already ?

What do you think about it ?

[2016-09-06 06:51] aver-ua commented on #46
Yes, You are right. The issue is related to #24.
In Leaflet 0.7 the function also works on polygon too, because structures of latlngs arrays are identical. So, I was thought, it is an undocumented feature :)
In my apps I use Leaflet.Snap. This plugin uses the function "closest" and all works fine even with polygons.
When I try to update to Leaflet 1.0, Leaflet.Snap stops working.
Could You please

[2016-09-06 08:21] mdartic opened #51 "Update documentation to integrate L.Polygon as an accepted parameters"
Related to #46

L.Polygon extends L.Polyline, so the documentation has to be updated and specify it.

[2016-09-06 09:17] mdartic commented on #46
Indeed, Polygons are accepted but undocumented actually.
I've create an issue for that. cf #51
For leaflet 1.0, we don't have tested our libraries, so as L.Polyline & L.Polygon could return now nested arrays, it's not yet implemented in GeometryUtil.
I'm not sure your code is ok, but it has to be tested.
We will open a specific branch for testing purposes on Leaflet 1.0 soon.

[2016-09-06 14:52] mdartic commented on #46
I've started a plunker to test these differents methods, around closest.

You can see [here](https://plnkr.co/edit/vbk6e6qiUMbz61zydM9x?p=preview)

You can change the leaflet to use 1.0 for example, directly in the head of index.html, and... it's actually not working, with polygon only, because polygon.getLatLngs return nested arrays. (in this example)

So, for the moment, this library can't work

[2016-09-06 15:23] mdartic commented on #24
@LePat thanks for your proposition, don't hesitate to make a PR and upgrade tests if you have some time.

But, tell me if I'm wrong, you're using leaflet 1.0, isn't it ?

If this is the case, GeometryUtil haven't been correctly tested for 1.0, so unfortunately, it's normal.

[2016-09-06 15:26] #51 closed

[2016-09-07 06:00] aver-ua commented on #46
Mathieu, please check [my plunk](https://plnkr.co/edit/40YQoVxdEdlb5iCQjcm9?p=preview) for Leaflet 1.0

[2016-09-07 08:31] mdartic commented on #46
Great job, it works also with leaflet 0.7.7 .
I need to check some features with 0.7.7 and implement some tests.
I look for it today.

[2016-09-07 14:38] mdartic commented on #45
After testing with leaflet 1.0, several functions don't work correctly.
Some work need to be done to achieve compatibility.
A specific branch will be open soon, but, as @SBats says, don't hesitate to test, report issues and/or submit PR.
We will be glad to review your code :)

[2016-09-07 14:38] #45 closed

[2016-09-08 12:59] mdartic commented on #23
@rossanag I've implemented your use case in the `closestLayer` .
Check the 0.5.1 version of the plugin to see if it's better now.

[2016-09-09 15:48] mdartic commented on #24
@domialex @kaynz @LePat
if you have time, don't hesitate to test the 0.6.0 of the plugin.
I implement nested arrays for `closest` method, it works for my use cases, but maybe some of you have others use cases.
It would be nice to have your feedback.

[2016-09-09 15:49] mdartic commented on #46
I've implemented nested arrays in 0.6.0, so if you could test and write some feedback, it could be nice.

[2016-09-09 15:52] mdartic opened #56 "Make the plugin work with Leaflet 1.0"
Leaflet is in 1.0.0-rc.3

Tests of GeometryUtil show breaks : Polygon and Polyline have evolved, the R (radius) of earth change too.

- [x] change tests to accept a new radius

- [x] accept the evolution of Polygon & Polyline without breaking compatibility with 0.7.7

[2016-09-12 06:52] kaynz commented on #46
Why don't you use `L.Polyline._flat`?

[2016-09-12 06:58] aver-ua commented on #46
Mathieu, I tested 0.6.0 with Leaflet 1.0. All ok!
Thanks!

[2016-09-12 09:12] mdartic commented on #46
@kaynz, where would you use `L.Polyline._flat` ?
Actually, my problem is that this function doesn't exist in 0.7.7 .

@aver-ua I understand, I check that with a new test and implement this use case.

[2016-09-12 10:00] kaynz commented on #46
Ah, okay. You're trying to support both leaflet versions with one library. So what about creating a shim?

[2016-09-12 14:14] mdartic commented on #46
@kaynz well, I don't really know how to implement it.
`closest` method need to be implemented for leaflet 0.7.7 & 1.0.0, but maybe we can optimize with your idea.
If you have time, don't hesitate to make a PR.

@aver-ua I've made some improvements, but in the current implementation, which is closed to what you write in your [plunker](https://plnkr.co/edit/40YQoVxdEdlb5iCQjcm9?p=preview), there is

[2016-09-12 17:27] leplatrem commented on #46
I would recommend to keep the code light and clean by focusing on Leaflet
1.0.
Legacy apps can still rely on old pinned versions, or upgrade to 1.0 for
new features.
(My 2 cents)

Le 12 sept. 2016 16:14, "Mathieu DARTIGUES" <notifications@github.com> a
écrit :

[2016-09-14 06:04] aver-ua commented on #46
@mdartic
I check new version of "closest" (with last segment). Works great, no problem.
Thanks!

[2016-09-14 13:34] mdartic commented on #46
@aver-ua Great, I close the issue.

@leplatrem well, I agree with you, and I try to respect this guideline.
the fact is that, in 0.7.7, there are sometimes nested array, so I thought it would have been useful for 0.7.7 users. And there were issues for this.
so, as the need is the same, I think it's better to have the `closest` method compatible with nested arrays for both leaflet 0.7.7 & 1.0.0 .
h

[2016-09-14 13:34] #46 closed

[2016-09-14 13:35] mdartic commented on #24
The last version, 0.7.1 has been tested in #46 and it seems working nicely now.
I close the issue.

[2016-09-14 13:35] #24 closed

[2016-09-14 13:36] mdartic commented on #23
@rossanag the last version 0.7.1 fix a bug of the method `closest` used by `closestLayer`.
Please prefer use this last version.
Don't hesitate to reopen the issue if needed.

[2016-09-14 13:36] #23 closed

[2016-09-14 13:37] #56 closed

[2016-09-14 13:38] mdartic commented on #39
A use case for `closest` method has been added too.
If there are other needs, I let the issue opened to discuss about it.

[2016-09-15 14:31] aver-ua opened #59 "Function "closest" adds extra points to layers"
There is an issue, described in title
Please see this [plunk](https://plnkr.co/edit/40YQoVxdEdlb5iCQjcm9?p=preview)
Click to set markers and see in console how latlngs of polygon grows.
It seems to me, that it happens because function "slice()" does not makes deep copy for nested arrays (line 205 in source)

[2016-09-19 10:03] mdartic commented on #59
You're right.
Check 0.7.2, I let you close the issue if it's ok for you.

[2016-09-19 10:39] aver-ua commented on #59
@mdartic,
I cheked 0.7.2 in my app, but I got an errors "Uncaught TypeError: Converting circular structure to JSON".
Simple code like in my previous post works correct, but more complex - no.
I try to figure out what was going on...

[2016-09-19 12:27] aver-ua commented on #59
@mdartic,
My investigation shows, that "closest" raises errors _"Uncaught TypeError: Converting circular structure to JSON"_ in conjuction with Leaflet.Editable, Leaflet.Snap and GeoJSON layers.
I can't provide (yet) test case (plunk, for example), that illustrates this issue.
But I found wokraround for me. I changed the line in source
`latlngs = JSON.parse(JSON.stringify(layer.getLatLngs().slice(

[2016-09-20 07:54] aver-ua commented on #59
@mdartic,
My investigation shows, that "closest" raises errors _"Uncaught TypeError: Converting circular structure to JSON"_ in conjuction with Leaflet.Editable, Leaflet.Snap and GeoJSON layers.
I can't provide (yet) test case (plunk, for example), that illustrates this issue.
But I found workaround for me. I changed the line in source
`latlngs = JSON.parse(JSON.stringify(layer.getLatLngs().slice(

[2016-09-28 21:10] haoliangyu opened #61 "Ambiguity in the result of closestLayer()"
If I input an array of layers, it will return the nearest layer, which is an element of the input array. However, if I input a mixed array of layers and layer groups, it may return a layer within a layer group, which isn't an element of the input array.

I am raising this question for the consistency of the function output, though it may not cause any problem actually...

[2016-10-11 15:02] hrishiballal opened #63 "Calculating Area with Leaflet 1.0"
I know that Leaflet has changed the way it sends information on .getLatLngs()

I used to use this library to compute geodesic area. Is there a plan to add this to the 1.0 version in the future? What is the best way to compute areas with Leaflet 1.0?

[2016-10-26 15:27] #61 closed

[2016-12-28 16:16] mikila85 commented on #63
+1 anyone?

[2016-12-28 16:16] mikila85 commented on #63
@hrishiballal  did you ever solve this?

[2017-01-21 18:23] Natureshadow opened #65 "Please provide complete source tarball"
Please provide a complet esource tarball, inbcluding the sources for docs/ and everything else needed for a complete build. At the very least, alle make targets should work from the source tarball.

Please, if possible, also provide a changelog and sign the release tarball.

[2017-01-22 00:27] leplatrem commented on #65
Are you sure that you wanted to address these in this repo?
The tarball is something that Github offers, we don't use make, and the changelog is basically in the readme.
I'm sure we can improve what we have though :) feel free to open a PR or be more precise...

[2017-01-22 11:02] Natureshadow commented on #65
@leplatrem Well…

`
$ wget https://github.com/makinacorpus/Leaflet.GeometryUtil/archive/v0.4.0.tar.gz
$ tar xvzf v0.4.0.tar.gz
[…]
Leaflet.GeometryUtil-0.4.0/Makefile
`

I also see that there is no Makefile anymore, but in the v0.4.0 release/tag, there is, and the tests and docs are missing, as I described above.

I have no idea how it got there, but as the tarballs are just git-archive exports fr

[2017-01-22 11:03] Natureshadow commented on #65
Oh, and having said al lthat… there seem to have been a lot of changes and even release versions since the last published 0.4.0. Could you please push all tags and also create a source tarball for the most recent release version, so we can get something current into Debian instead of 0.4.0 ;)?

[2017-02-27 09:59] luiscamachopt opened #66 "interpolateOnLine doesn't return correct predecessor"
L.GeometryUtil.interpolateOnLine(myw.app.map, [L.latLng(1, 2), L.latLng(3, 4)], 0.5).predecessor
returns -1 when it should be 0

This happens when point is in first segment.

[2017-03-14 12:31] leplatrem commented on #66
Thanks for reporting!

This should be fairly to reproduce in a test case. Would you mind submitting a pull-request?

[2017-03-22 18:26] eric7472 commented on #66
Hi,
It seems to be the same issue than #32.
Please find enclosed a test case. The problem is very dependent of the angle between segment.

[interpolateBug.html.zip](https://github.com/makinacorpus/Leaflet.GeometryUtil/files/862440/interpolateBug.html.zip)

[2017-06-05 01:23] lstomsl opened #67 "Why does layersWithin take a distance in pixels?"
I think this would be an extremely useful function if it took a distance in meters.  I have no idea how it is useful if it takes a distance in screen pixels.

Am I missing something?

[2017-06-07 09:49] leplatrem commented on #67
I think Leaflet has conversion functions from pixels to meters at the current zoom level (I did that somewhere already, but it was too long ago :))

It's useful for snapping for example :)

[2017-07-07 20:15] peterlawless commented on #59
@aver-ua thanks for the fix, worked perfectly for me.

[2017-08-08 07:09] mdartic commented on #59
@aver-ua sorry to be so late, but do you have now a small example to be integrate in a test ?
could be useful to remember this after fixing it.
if not, I'll integrate your `deepClone` method.

[2017-08-08 07:13] #39 closed

[2017-08-17 08:57] ParAnton opened #68 "Doesn't work with leaflet 1.1.0"
The function Leaflet.Polyline._flat has been moved to Leaflet.LineUtil._flat so this has to be updated to make it work with Leaflet 1.1.0
[](https://github.com/Leaflet/Leaflet.Editable/issues/130)

[2017-09-25 16:58] haoliangyu commented on #68
I also have this problem while trying to use this library with Leaflet 1.2. A PR #69 has been submitted to resolve it.

[2017-09-25 18:44] #68 closed

[2017-09-25 20:14] haoliangyu commented on #67
@lstomsl

I am the developer of this function. As @leplatrem suggests, my use case is to get layers within a bbox and select one of them for snapping in a custom filter function in our fork of Leaflet.Snap. A distance in pixels is used to provide a consistent user experience of snapping at different zoom levels.

I am fine with either meter or pixel as they are convertible: http://wiki.openstreetm

[2017-09-29 10:29] leplatrem commented on #63
Seems like a legit improvement!

Don't hesitate to submit some contribution, we'll happy to review them :)

[2017-09-29 10:32] leplatrem commented on #67
We could add a `layersWithinMeters()` helper (As long as we don't go as far as implementing helpers for  feets, yards, sticks, fingers or whatever crazy non metric unit 😄)

[2017-11-17 07:45] dabajabaza opened #70 "nClosestLayers method doesn't work as expected"
I use **nClosestLayers** on array of geojson points for finding N nearest points. But it does not work as exptected.  [Here is the map with all necessary data](https://codepen.io/ckpunmep/pen/POJLNN). Red dots are points that **GeometryUtil** found as nearest to my start point (the green one).
I describe problem [here](https://gis.stackexchange.com/questions/262105/split-up-big-polygon-into-smalle

[2017-11-20 17:27] leplatrem commented on #70
Good catch!

You can check the code of `nClosestLayers`, it is rather straightforward... you'll see the distance and all that, maybe it will help to find out what happens!
https://github.com/makinacorpus/Leaflet.GeometryUtil/blob/master/src/leaflet.geometryutil.js#L324-L363

[2017-12-20 15:40] haoliangyu commented on #70
I can take a look at this issue.

[2017-12-20 22:21] haoliangyu commented on #70
@leplatrem

This problem is caused by `L.GeometryUtil.distance()` doesn't return a correct distance. I test it with the following code:

[code]

and the result is

[code]

[2017-12-21 13:07] necramirez commented on #65
I would like to echo the previous comment:

I watch for releases in Github, but because the releases here are not updated, I wouldn't know if something new was published to npm

[2018-01-04 21:04] sgrillon14 opened #73 "how to use GeometryUtil.destination in Angular2+ ?"

[2018-01-04 22:34] haoliangyu commented on #73
Angular 2+ uses TypeScript so you need the type definition to use this library. Unfortunately a dedicated type definition for this library doesn't exist yet. But you can still write a minimal `.d.ts` file just for the `destination()` function and import it into your TS project. As an example, you can take a look at [this](https://github.com/haoliangyu/ngx-leaflet-starter#oops-this-plugin-is-not-ty

[2018-01-29 10:36] leplatrem commented on #65
It should be better from now on, now that @haoliangyu gives a hand :)

[2018-01-29 14:58] haoliangyu commented on #65
I will add the current release (v0.8.1) tonight.

[2018-01-29 15:22] haoliangyu commented on #65
@leplatrem In fact I think it may be better to publish v0.8.2 since the current master branch has more content (#71 and #72) than the v0.8.1.

[2018-01-30 05:13] haoliangyu commented on #65
The release history is completely rebuilt. Source tarballs are available at the release page now. I am closing this issue. If there is any other question, please comment.

[2018-01-30 05:13] #65 closed

[2018-03-13 12:26] jb2b38 commented on #66
I have a fix for this, but I get a 403 when trying to submit a pull request.

[2018-03-13 12:42] mdartic commented on #66
Do you create a PR from a private repo ? I can't see your fork in your repositories.

[2018-03-13 14:02] jb2b38 commented on #66
My bad, I cloned it to my computer from URL. PR created, thanks for pointing me in the right direction.

[2018-03-15 15:40] mdartic commented on #66
Thank you @jb2b38 for your PR.

@eric7472 @luiscamachopt could you check if the fix made by @jb2b38 fix your bug ?

Please clone https://github.com/jb2b38/Leaflet.GeometryUtil/tree/fix_66 .

[2018-06-22 13:13] mabhub commented on #66
*Just for a link to be made between issue & PR : #76*

[2018-06-26 15:29] #66 closed

[2018-08-07 16:11] mohammedzamakhan opened #77 "Incorrect destination calculations"
I created a function to calculate the point on a perpendicular line from a line, but it feels the calculations are incorrect. Can you look into what might be going wrong here

[code]

Now lets look at this image and understand what `from`, `point2`, `distance` and the output `destination` are. But the destination doesn't seem to be perpendicular all the time
<img width="736" alt="screen shot 2018-

[2018-08-08 17:08] #77 closed

[2018-08-15 21:25] ReeseJones opened #78 "angular-mocks tricks Leaflet.GeometryUtil into thinking modules are available"
![image](https://user-images.githubusercontent.com/6557783/44173167-f96b5e00-a093-11e8-9270-9ae50bdbf036.png)

I am setting up unit tests using angular 1, karma and jasmine. All our modules and plugins and scripts are statically included. When using jasmine and angular-mocks module is defined in the window scope. So when leaflet.GeometryUtil tries to add itself to leaflet it assumes module.export

[2019-02-04 17:20] mohammedzamakhan commented on #77
@pascal-codetaal Yes, we were using meters coordinates to show points on map, but now after this issue, we used the lat lng coordinates for the leaflet map, and this formula works fine with it. Now we are using default CRS for our map.

[2019-04-09 15:51] alexroat opened #80 "Error in ratio estimation on locateOnLine and interpolateOnLine"
I've found an inconsistency in the results if locateOnLine and interpolateOnline.

I've tried to compute the ratio of a point along a road of 320 km ca then convert the ratio to a latlon again. There is a variable misplacement, pretty high in my opinion, it could go above 1km.

I've fixed implementing my own version of the functions

interpolateOnLine = function (map, latLngs, ratio) {
    latLngs

[2019-04-24 17:18] leplatrem commented on #80
Could you please open a PR with the fixes? Thanks!

[2019-05-11 16:56] BogdanKOleinikov opened #81 "closestLayer: point is inside a layer that shares edges with other Layer"
In some cases the closest layer is the other polygon instead of the layer in which the point is contained in...

[2019-05-14 12:53] leplatrem commented on #81
Don't hesitate to write a small test case and submit a fix in a PR :)

[2019-07-09 11:58] kristiansvenssonwsp opened #82 "length and locateOnLine - accuracy"
I cant figure this on out. Have a look at this example:
https://jsfiddle.net/krillmcrawl/8wy3jhor/9/

Move the mouse along the line and check the console.

The actual lenght of the line is 4367.02(FME) or 4367.078(Qgis)
The lenght reported from Leaflet.GeometryUtil is 4353.622 (13 meter difference seems quite far off)

In the example I have generated stations lines every 10 meters(for easier debug

[2019-07-29 11:15] leplatrem commented on #82
As far as I remember, `locateOnLine()` only relies on `distanceTo()` from the Leaflet library https://leafletjs.com/reference-1.3.0.html#latlng-distanceto

I don't know if we can help here...

[2019-11-25 00:19] slutske22 opened #83 "Can we get an export default L.GeometryUtil?"
I am building a plugin for leaflet which uses this wonderful little plugin as a dependency.  I would love for those who use my plugin to not have to put a link to L.GeometryUtil in their HTML file, but rather simply import my plugin into their index.js (or whatever module uses it), which in turn will import L.GeometryUtil (after having installed it through a `npm install`).  At the top of my plugi

[2019-11-26 17:53] jbaranski commented on #73
This worked for me (this makes a big assumption you're using [ngx-leaflet](https://github.com/Asymmetrik/ngx-leaflet)  and already have it working in your Angular2+ app):

1. Add `src/typings.d.ts`, the content looks like below (just add more functions as needed):
[code]
2. ` npm install leaflet-geometryutil`
3. `import 'leaflet-geometryutil` in some file (component, service, whatever...)
4. Make

[2019-11-27 04:09] slutske22 commented on #83
So this was silly.  All I needed to do was `import { } from 'leaflet.geometryutil'` and it works just fine.  Nevermind!

[2019-11-27 04:09] #83 closed

[2019-11-28 13:58] runette opened #84 "MultilineString Bug in ClosestLayer (and Closest)"
I have another utility (actually [osmtogeojson](https://github.com/tyrasd/osmtogeojson) that is creating Multilinestring features where one of the segments (that translate to elements in latlngs Array when they get to GeometryUtil) has a single point. This causes GeometryUtil to crash @ line 187

` if (subResult.distance < mindist) `

since subResult is null.

Without arguing whether this is a val

[2020-01-23 15:05] #84 closed

[2020-01-23 18:09] IlyaDiallo commented on #82
locateOnLine caption:

So NB that if you have 10 meters spacing between points, the best you can have is around 5 meters accuracy anyway for intermediate points.
As for the 13m error at the end of the line, @leplatrem is right, the 0.3% error comes from the distanceTo() function of the Leaflet library.

[2020-04-29 12:30] tpoint75 opened #87 "fix readable distance for negative numbers"
[https://github.com/makinacorpus/Leaflet.GeometryUtil/commit/5837378ea75f1f916b32e3b663a749c7cf9e5bef#r38824200](url)

[2020-07-21 15:02] alizeegly opened #88 "Distance function : Cannot read property 'distance' of undefined"
Hello,
I'm developing a map in vuejs using leaflet, and I want to use GeometryUtil to calculate the distance between two points. For that, I use the tuto distance-length but when I use the function I got an error in the console :
Cannot read property 'distance' of undefined

Is this because I'm using vuejs or because I didn't use well the function?

Thank you for your help

[2020-07-21 15:19] mdartic commented on #88
Hello,

Could you make a repo for testing ?

I think your import of the lib is not working as you may think.

[2020-07-21 15:22] alizeegly commented on #88
I just find out while it wasn't working, I don't declare the variable outside my function, thank you for your quick response !

[2020-07-21 15:31] mdartic commented on #88
Ok, I let you close the issue if it's ok for you.

[2020-07-21 15:32] #88 closed

[2020-07-26 09:34] Falke-Design opened #89 "destination calculates the wrong point (distance)"
When calling:
[code]

The new point has not the correct distance to the origin point. It should be 2000m but is only ~1997m away

https://jsfiddle.net/falkedesign/c0n64j7e/

[2021-02-04 15:19] cdauth opened #90 "TypeScript support"
I'm using Leaflet.GeometryUtil in a TypeScript project. As far as I'm aware, there are no typings yet, as mentioned in #73.

I would like to write some typings. There are 3 options:
1. Write typings and publish them as a separate `@types/leaflet-geometryutil` package.
2. Write typings and include them in this repository. This would involve creating a `.d.ts` definition file and referencing it in t

[2021-02-04 15:26] mdartic commented on #90
Hi,

Glad to read you,

I think it would be nice to have the typings inside this repo.

The best solution IMHO is to traduce all this package in a TypeScript one.
But it's a big work. Not sure it's really useful.

So, maybe the "quick win" is the second option.

[2021-02-04 15:29] cdauth commented on #90
I'm motivated to do this work. Are you a maintainer of this repository, or would we need to wait for someone else’s opinion?

[2021-02-04 15:40] pounard commented on #90
I tend to prefer TS as well (let's be honest, I deeply hate JS), but I'm not a maintainer of this package yet I'm a colleague of them. Converting everything is a risk to create new bugs, and let's be pragmatic, just adding the typings would be the easiest solution. Converting to TS is a language and paradigm change, for the whole package, thus all package maintainers must agree altogether to do su

[2021-02-04 15:42] mdartic commented on #90
I think @pounard is right.

@cdauth if you agree, the easier solution to develop and to maintain (for the community) is to keep this lib in JS.

The #73 explain quickly how to start the `d.ts` file, it could be nice to extend this to all the methods included in this lib ?

[2021-02-04 16:40] cdauth commented on #90
That makes sense.

Also, once the typings are there, it's less work to convert the existing code to TypeScript.

[2021-02-04 18:02] IlyaDiallo commented on #90
The JS vs TS debate is a bit like the C vs C++ debate. It's pointless without context - JS is better for some projects, TS is better for others. I'd like to point out that this project is a plugin for a JS library itself included in JS applications. So having to "compile" from TS to use it, or (more importantly) having to know TS to contribute to it would be a huge drawback. TS coders are supposed

[2021-02-04 21:41] pounard commented on #90
Just because I like to feed the troll, but I think this is untrue, if JS is good for a project, TS is too, since it's basically JS with types. C against C++ debate is by itself much more pointless since they both are different languages, they only share a few syntax details and the C ABI for sharing data in memory, that's pretty much it, they are not the same (warning, troll feeding: I hate C and

[2021-02-04 23:01] IlyaDiallo commented on #90
You must be new here. Haven't you heard the phrase "C++ is just C with classes" ? Did you know that the first C++ "compilers" were just glorified preprocessors converting C++ to C ? A lot like TS, I'd say.

Right. Never heard the rants of Linus Torvalds against C++ ? For him C is the best, period. The guy has godlike coding skills, he has spawned arguably the two most important pieces of software

[2021-02-05 08:13] pounard commented on #90
Oh right, you love feeding the troll as well, and I think you win the "IT Godwin-lie point" there, if it exists :) For the record was voluntarily pushing the buttons a bit for fun, but you have to know that it was strictly with a sincere respect towards you and other readers.

That said, we could continue this flame for hours (and believe me, I'd love it) nevertheless, I'm not sure this issue the

[2021-02-05 08:19] Gagaro commented on #90
All right, let's stop there.

[2021-02-05 08:19] #90 closed

[2021-02-05 08:47] IlyaDiallo commented on #90
That means that Linus is the new Hitler, I guess. OK. FYI "feeding the troll" means that you're calling the OP a troll, not that you're about to say something controversial, so no surprise if they feel a bit offended.
But it's ok, no hard feeling, and that's not the point. The real problem is that the TS crowd has to stop thinking that "TS everywhere" is a good mantra. It has its place but can't (

[2021-02-05 08:53] pounard commented on #90
Please, this is not the place to run a flame war. We are working hard to provide quality software and keep a good community spirit, I'm really sorry if my puns have been too far for you, please accept my apologizes and move on, this open source git repository is not a place for ranting and insulting people.

[2021-04-06 15:52] enrico-calzavara opened #92 "Npm package not updated"
Hi,
the latest published npm package has a dependency on leaflet >=0.7.0, that is causing a misalignment on leaflet versions after a npm install:

<img width="300" alt="Screenshot 2021-04-06 at 17 49 59" src="https://user-images.githubusercontent.com/2581454/113739890-87425e80-9700-11eb-845e-e1863c3ea759.png">

In master branch the dependency on leaflet is actually set to ^1.6.0: could you please

[2021-04-07 08:15] leplatrem commented on #92
@gutard @submarcos @numahell :wave:

[2021-04-16 21:34] mdartic commented on #92
@enrico-calzavara the latest npm package is now the 0.10.0, could you update your project and tell me if the problem is still here ?

If so, could you give us more information about your configuration, node & npm version ?

[2021-04-19 15:43] enrico-calzavara commented on #92
It works, thanks!

[2021-04-21 07:35] #92 closed

[2021-04-21 08:02] martinhschei opened #93 "Function for combining bounding boxes"
**Scenario**
A have a map where i need to add several geojsons which can be at different places and i need to set the bounds of the map to a combined bounding box from all the geo jsons.

**Possible solution**
let merged = merge([BoundingBoxA, BoundingBoxB,....]);

Looked into the documentation and i can't see anything like this there - is there a plan to add something like this?